*{
  margin: 0;
  font-family: arial;
  color: white;
}

body{
  background-color: #252525
}

h1{
  text-align: center;
}

.scores{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.scoreBox{
  font-family: arial;
}

.gameBoard{
  display: grid;
  max-width: 600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 199px 199px 199px;
}

.cell{
 max-width: 199px;
 max-height: 199px;
 min-width: 199px;
 min-height: 199px;
 padding: 0;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.holder{
  height: 200px;
  width: 200px;
}

.contents{
 font-size: 90px; 
}

.cell{
  border: 1px white solid;
}

.cell:hover{
  transition: all ease 0.2s;
  background-color: #630000;
}

.gameBoard{
  border-radius: 15px;
}

.a0{
  border-top:1px #252525 solid;
  border-left: 1px #252525 solid;
}

.a1{
  border-top:1px #252525 solid;
}

.a2{
  border-top:1px #252525 solid;
  border-right:1px #252525 solid;
}

.b0{
  border-left: 1px #252525 solid;
}

.b2{
  border-right:1px #252525 solid;
}

.c0{
  border-bottom:1px #252525 solid;
  border-left:1px #252525 solid;
}

.c1{
  border-bottom:1px #252525 solid;
}

.c2{
  border-bottom:1px #252525 solid;
  border-right:1px #252525 solid;

}
