*{
  margin: 0;
  font-family: arial;
  color: white;
}

body{
  background-color: #252525
}

h1{
  text-align: center;
}

h3{
  margin-top: 2rem;
  text-align: center;
}

.subHeader{
  font-size: 1.3rem;
}

.modalForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 701px;
  height: 700px;
  max-width: 701px;
  max-height: 700px;  
  border: solid 1px white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%) scale(0);
  z-index: 10;
  background-color: #252525;
}

.modalForm.active{
  transform: translate(-50%, -54%) scale(1);
}

.form{
  display: flex;
  width: 579px;
  justify-content: space-evenly;
}

.spacer{
  width: 195px;
}

.spacer2{
  width: 368px;
}

.formItem{
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  font-size:1.5rem;
}

.rule{
  margin-top: 2rem;
}

select{
  color: black;
  width: 81px;
}

option{
  color: black;
}

.textInput{
  color: black;
}

h2{
  margin-top: 2rem;
  font-size: 3rem;
}

.playButton1{
  margin-top: 2rem;
  height: 3rem;
}

.playButton{
  margin-top: 2rem;
  height: 3rem;
}
.scores{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

#gameInfo{
  height: 38px;
  font-size: 2rem;
}

.scoreBox{
  font-family: arial;
  font-size: 1.5rem;
}

.gameBoard{
  display: grid;
  max-width: 600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 199px 199px 199px;
}

.cell{
 max-width: 199px;
 max-height: 199px;
 min-width: 199px;
 min-height: 199px;
 padding: 0;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.holder{
  height: 200px;
  width: 200px;
}

.contents{
 font-size: 90px; 
}

.cell{
  border: 1px white solid;
}

.cell:hover{
  transition: all ease 0.2s;
  background-color: #630000;
}

.gameBoard{
  border-radius: 15px;
}

.resetHolder{
  margin-top: 74px;
  display: flex;
  justify-content: space-evenly;
}

button{
  background: 0;
  border: 0;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #FF7474;
  cursor: pointer;
}


#resetButton{
  height: 3rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #FF7474;
}

button:hover, #resetButton:hover{
  transition: all ease 0.1s;
  background-color: #630000;
  cursor: pointer;
}

.a0{
  border-top:1px #252525 solid;
  border-left: 1px #252525 solid;
}

.a1{
  border-top:1px #252525 solid;
}

.a2{
  border-top:1px #252525 solid;
  border-right:1px #252525 solid;
}

.b0{
  border-left: 1px #252525 solid;
}

.b2{
  border-right:1px #252525 solid;
}

.c0{
  border-bottom:1px #252525 solid;
  border-left:1px #252525 solid;
}

.c1{
  border-bottom:1px #252525 solid;
}

.c2{
  border-bottom:1px #252525 solid;
  border-right:1px #252525 solid;

}
