*{
  margin: 0;
}

h1{
  text-align: center;
}

.gameBoard{
  display: grid;
  max-width: 600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 199px 199px 199px;
}

#cell{
 max-width: 199px;
 max-height: 199px;
 min-width: 199px;
 min-height: 199px;
 padding: 0;
 margin 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.holder{
  height: 200px;
  width: 200px;
}

.contents{
 font-size: 90px; 
}

.cell:hover{
  background-color: #C8C8C8;
}

.b1{
 border: 1px black solid;
}

.a0, .a2{
 border-bottom: 1px black solid;
}

.c0, .c2{
 border-top: 1px black solid;
}

.a0, .c0{
 border-right: 1px black solid;
}

.a2, .c2{
 border-left: 1px black solid;
}
